.navbar {
    width: 200px;
    height: 100vh;
    background-color: #283241;
    border-right: 1px solid #ddd;
    transition: width 0.3s;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .navbar.closed {
    width: 120px;
  }
  
  .navbar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  .logo img {
    width: 80px;
  }
  
  .toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #F7FCFB;

  }
  
  .navbar-menu {
    margin-top: 20px;
  }
  
  .navbar-item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
    color: #F7FCFB;
    transition: background 0.3s;
    cursor: pointer;
    background: none; /* Asegurar que los botones no tengan fondo */
    border: none; /* Asegurar que los botones no tengan borde */
  }
  
  .navbar-item:hover {
    background-color: #354253;
  }
  
  .navbar-item .icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  

  .navbar.closed .navbar-item .icon .logout-button{
    margin: 0 auto;
  }
  
  .navbar.closed .navbar-item .logout-button{
    justify-content: center;
  }
  
  .navbar.closed .navbar-item span {
    display: none;
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    .navbar {
      width: 80px;
    }
    .navbar.open {
      width: 100%;
    }
    .navbar.closed {
      width: 80px;
    }
    .navbar-header {
      justify-content: center;
    }
    .navbar-item {
      justify-content: center;
    }
    .toggle-button {
      justify-content: center;
    }
    .navbar.open .navbar-item span {
      display: inline-block;
    }
  }
  
  @media (max-width: 480px) {
    .logo img {
        width: 60px;
      }
    .navbar {
      width: 60px;
    }
    .navbar.open {
      width: 100%;
    }
    .navbar.closed {
      width: 80px;
    }
    .navbar-header {
      justify-content: center;
    }
    .navbar-item {
      justify-content: center;
    }
    .navbar.open .navbar-item span {
      display: inline-block;
    }
  }
  