.navbar {
    width: 100%;
    height: 100px; /* Altura del navbar horizontal */
    background-color: #74BB45;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1000;
}

.navbar.closed {
    height: 60px;
}

.navbar-header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.logo img {
    width: 80px;
}

.toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #F7FCFB;
}

.navbar-menu {
    display: flex;
    gap: 20px;
}

.navbar-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #F7FCFB;
    transition: background 0.3s;
    cursor: pointer;
    background: none;
    border: none;
    padding: 10px;
}

.navbar-item:hover {
    background-color: #2d793b;
    border-radius: 5px;
}

.navbar-item .icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.logout-button {
    margin-left: auto; /* Empuja el botón "Salir" al extremo derecho */
}

.navbar.closed .navbar-item .icon,
.logout-button {
    margin: 0;
}

.navbar.closed .navbar-item .logout-button {
    justify-content: center;
}

.navbar.closed .navbar-item span {
    display: none;
}

/* Ajuste del contenido para que comience debajo del navbar */
.content {
    margin-top: 100px; /* Altura del navbar */
    padding: 20px;
}

/* Media Queries */
@media (max-width: 768px) {
    .navbar-menu {
        gap: 10px;
    }
}

@media (max-width: 480px) {
    .logo img {
        width: 60px;
    }
    .navbar-menu {
        gap: 5px;
    }
}
