/* AboutUs.css */
.about-us-container {
    text-align: center;
    padding: 40px 20px;
    margin-bottom: 5%;
  }
  
  .section-title {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .section-description {
    font-size: 1rem;
    color: #666;
    margin-bottom: 40px;
    max-width: 800px; /* Increased width for better text display */
    margin-left: auto;
    margin-right: auto;
  }
  
  .about-us-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 40px; /* Increased gap for better spacing */
  }
  
  .icons-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px; /* Increased gap for better spacing */
    max-width: 600px; /* Increased width to accommodate larger icons */
  }
  
  .icon-item {
    display: flex;
    align-items: flex-start;
    gap: 20px; /* Increased gap for better spacing */
    text-align: left;
  }
  
  .icon-us {
    font-size: 10rem; /* Increased icon size */
    color: #00aaff;
  }
  
  .image-container {
    max-width: 500px;
  }
  
  .hospital-image {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  