/* App.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbarHome {
    width: 100%;
    height: 100px; /* Altura del navbarHome horizontal */
    background-color: #FBFAFD;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1000;
}

.navbarHome-header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.logo img {
    width: 80px;
}

.navbarHome-menu {
    display: flex;
    gap: 20px;
}

.navbarHome-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #2D793B;
    transition: background 0.3s;
    cursor: pointer;
    background: none;
    border: none;
    padding: 10px;
}

.navbarHome-item:hover {
    background-color: #74BB45;
    border-radius: 5px;
}

.navbarHome-item .icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.logout-button {
    margin-left: auto; /* Empuja el botón "Salir" al extremo derecho */
}

/* Ajuste del contenido para que comience debajo del navbarHome */
.content {
    margin-top: 100px; /* Altura del navbarHome */
    padding: 0px;
}

/* Media Queries */
@media (max-width: 768px) {
    .navbarHome-menu {
        gap: 10px;
    }
    .navbarHome-item span {
        display: none;
    }
}

@media (max-width: 480px) {
    .logo img {
        width: 60px;
    }
    .navbarHome-menu {
        gap: 5px;
    }
    .navbarHome-item span {
        display: none;
    }
}
